<% if @racket.errors.present? %>
  <ul>
    <% @racket.errors.each do |error, message| %>
      <li>
        <%= t("#{error} ") + t('rackets.validate.error') + " #{message}" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "push", '#', :id => "ajax-load",  class:"btn btn-sm btn-danger"%>

<%= simple_form_for(racket, html: { class:"racket-model-form" } ) do |racket| %>
  <div class="brand form-group">
    <%= racket.input :brand, label: "品牌" %>
  </div>

  <div class="form-group">
    <%= racket.input :product, label: "產品名稱" %>
  </div>

  <div class="code form-group">
    <%= racket.input :code, label: "編碼" %>
  </div>
  
  <div id="content">
  </div>

  <div class="form-group">
    <%= racket.input :grip, label: "握柄" %>
  </div>

  <div class="form-group">
    <%= racket.input :material, label: "結構" %>
  </div>
  
  <div class="form-group">
    <%= racket.input :weight, label: "拍重", placeholder: "請輸入空拍重量(g)" %>
  </div>
  
  <div class="form-group">
    <%= racket.input :size, label: "拍面大小", placeholder: "157*150" %>
  </div>

  <div class="form-group">
    <%= racket.input :thickness, label: "厚度" %>
  </div>
    <%= racket.submit %>

  <script>
  // $('#ajax-load').click(function(){
  //   $.ajax('hello.html.erb', {
  //     success: function(response) {
  //       $('#content').html(response).slideDown();
  //     }
  //   })
  // })
  $('#ajax-load').click(function(e){
    e.preventDefault()
    var url = $(this).attr("href")
    $.ajax(url,{
      success: function(response){
        $('#content').html(response)
      }
    })
  })

  </script>
    
<% end %>